# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
lib/
bin/
include/

# Virtual environments
.env
.venv/

# PyCharm
.idea/

# OS (Windows + macOS)
.DS_Store
.DS_Store?
._
*.Trashes
Desktop.ini
Thumbs.db

# Build and packaging
dist/
build/
*.egg-info/
*.egg

# Coverage
.coverage
htmlcov/